html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body,
main {
    margin: 0;
    height: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(50% - 196px);
    left: calc(50% - 350px);
}

.form {
    display: flex;
    flex-direction: column;
}

.infos-top {
    padding-top: 30px;
    text-align: center;
}

.logo {
    height: 42px;
    margin-left: 20px;
}

.logo-main {
    height: 45px;
    margin-left: 20px;
    margin-top: 8px;
}

input {
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    border: none;
    border-bottom: 1px rgb(213, 217, 221) solid;
    font-size: 16px;
    font-weight: 400px !important;
}

button {
    width: 300px;
    padding: 12px 10px 12px 10px;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(234, 160, 73);
    cursor: pointer;
}

.login-form {
    color: #353737;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 10px 0;
    line-height: 1.42857;
    font-weight: 300;
}

.line {
    width: 480px;
    background-color: white;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #444444;
}

.infos-bottom {
    margin-top: 140px;
    font-size: 23px;
    width: 300px;
    text-align: center;
    color: #444746;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
}

.bbq-page {
    min-height: 100%;
}

.blue-page {
    min-height: 100%;
    background-color: #647ffb;
}

.green-page {
    min-height: 100%;
    background-color: rgb(86, 188, 138);
}

.main-page {
    min-height: 100%;
}

.green-page-reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.reason-to-join img {
    width: 180px;
    margin-top: 30px;
}

.reason-to-join div {
    width: 200px;
}

.reason-to-join {
    color: white;
    text-align: center;
    margin: 20px;
}

.pager {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pager > .page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page-switch {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    height: 100%;
    justify-content: center;
}

.page-switch-dot-inactive {
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 5px 5px 5px 15px;
    opacity: 0.4;
    border: 3px solid white;
    box-sizing: border-box;
}

.page-switch-dot-inactive:hover {
    opacity: 1;
}

.page-switch-dot-active {
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 5px 5px 5px 15px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: white;
}

.page.moveDownIn {
    transform: translateY(-100%);
}

.page.moveDownOut {
    transform: translateY(0%);
}

.page.moveDownIn.transitioning {
    transform: translateY(0%);
    transition: 1s;
}

.page.moveDownOut.transitioning {
    transform: translateY(100%);
    transition: 1s;
}

.page.outside {
    display: none;
}

.page.inside {
    transform: translateY(0);
}

.page.moveUpIn {
    transform: translateY(100%);
}

.page.moveUpOut {
    transform: translateY(0%);
}

.page.moveUpIn.transitioning {
    transform: translateY(0%);
    transition: 1s;
}

.page.moveUpOut.transitioning {
    transform: translateY(-100%);
    transition: 1s;
}

.big-logo {
    width: 230px;
}

.video-main-page,
.video-bbq-page {
    /* only works for 16:9 aspect ratio */
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

.green-title {
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
    line-height: 1.2;
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.green-call-to-action {
    font-size: 16px;
    font-weight: 300;
    width: 700px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.wrapper-video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper-infos {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-infos-bbq {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.guirlanda-food {
    width: 585px;
    margin-top: 30px;
}

.form-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.logo-top {
    position: absolute;
}

.subwrapper-info {
    max-width: 300px;
    text-align: center;
}

.subwrapper-bbq {
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-main-page {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
    width: 200px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
}

.blue-bottom {
    background-color: #647ffb;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 600;
    bottom: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.bbq-top {
    background-color: rgb(86, 188, 138);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 600;
    top: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.text-blue-big {
    margin-top: 35px;
    font-size: 50px;
    font-weight: 350;
    line-height: 1;
    color: white;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-blue {
    font-size: 16px;
    font-weight: 300;
    width: 630px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.wrapper-guirlanda {
    text-align: center;
    position: relative;
}

.wrapper-logo-inlet {
    position: absolute;
    top: calc(57% - 94px);
    left: calc(50.5% - 94px);
}

.text-big-bbq-page {
    font-size: 40px;
    font-weight: 350;
    color: white;
    width: 700px;
    line-height: 1.2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-bbq-page {
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-button {
    color: rgb(68, 68, 68);
    background-color: white;
    width: 300px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 12px 10px 12px 10px;
}

.signup-button {
    width: 300px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: rgb(234, 160, 73);
    padding: 12px 10px 12px 10px;
}

.signup-button-top-green {
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    padding: 6.5px 13px;
    color: rgb(86, 188, 138);
    background-color: white;
    font-weight: 600;
}

.signup-button-top-blue {
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    padding: 6.5px 13px;
    color: #647ffb;
    background-color: white;
    font-weight: 600;
}

.signup-button-top-main {
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    padding: 6.5px 13px;
    color: rgb(68, 68, 68);
    background-color: white;
    font-weight: 600;
}

.login-button-top {
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    padding: 6.5px 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.094);
    font-weight: 600;
}

.logo-new {
    width: 188px;
}

.buttons-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-top {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    margin-top: 10px;
    display: flex;
}

.text-bottom-bbq {
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.link {
    color: blue;
    font-size: 14px;
    font-weight: bold;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

#app {
    background-color: rgb(233, 235, 238);
    min-height: 100%;
}

.wrapper-top-app {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(234, 160, 73);
}

.wrapper-app {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.icons-app {
    color: white;
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
    opacity: 0.5;
}

.onscreen {
    opacity: 1 !important;
}

.profile-pic-top {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-left: 40px;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    object-fit: cover;
}

.name-user {
    margin-left: 7px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.wrapper-img-top {
    margin-left: 40px;
    width: 43px;
    height: 43px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.img-wrapper {
    position: absolute;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 85px);
    bottom: -35px;
    overflow: hidden;
}

.wrapper-friends-img {
    height: 95px;
    width: 95px;
}

.friends-img {
    height: 95px;
    width: 95px;
    object-fit: cover;
}

.img-wrapper-cover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.friend-name {
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(68, 68, 68);
}
.profile-cover-pic {
    object-fit: cover;
    height: 370px;
    width: 100%;
    display: block;
}
.profile-cover-pic-opp {
    object-fit: cover;
    height: 370px;
    width: 100%;
    display: block;
}
.profile-pic {
    height: 160px;
    border-radius: 50%;
    width: 160px;
    object-fit: cover;
    position: absolute;
    left: 5px;
    top: 5px;
}

.white-wrapper {
    max-width: 1000px;
    height: 90px;
    background-color: #36465d;
    display: flex;
    align-items: center;
    border-top: solid 4px white;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.names-white {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    opacity: 0.5;
}

.name-user-white {
    color: white;
    margin-top: 42px;
    font-size: 21px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.first {
    margin-left: 5%;
}

.last {
    margin-right: 5%;
}

.screen {
    opacity: 1;
}

.wrapper-seta {
    display: flex;
}

.arrow-down {
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 13px;
}

.change-picture {
    position: absolute;
    top: 97px;
    right: 0px;
    font-size: 13px;
    color: white;
    height: 75px;
    width: 174px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.img-wrapper:hover .change-picture {
    display: block;
}

.img-wrapper-cover:hover .change-cover {
    display: block;
}

.text-change-picture {
    position: absolute;
    top: 16px;
    right: 31px;
    cursor: pointer;
    width: 105px;
}

.uploader-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.uploader-inlet {
    width: 440px;
    height: 215px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: calc(50% - 107.5px);
    left: calc(50% - 220px);
}

.linha2 {
    height: 1px;
    background-color: rgb(68, 68, 68);
    opacity: 0.2;
    width: 200px;
    width: 440px;
}

.icon-modal {
    color: rgb(68, 68, 68);
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 8px;
}

.wrapper-main {
    background-color: rgb(233, 235, 238);
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-intro-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper-inlet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(233, 235, 238);
}

.wrapper-inlet-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#file-field {
    display: none;
}

.profile-pic-opp {
    height: 160px;
    border-radius: 50%;
    width: 160px;
    object-fit: cover;
    position: absolute;
    left: 5px;
    top: 5px;
}

.wrapper-bio {
    background-color: white;
    max-width: 370px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid rgba(68, 68, 68, 0.3);
}

.text-upload {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    overflow: hidden;
}

.profile-intro {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    overflow: hidden;
}

.profile-intro-opp {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.three {
    margin-right: 20px;
    opacity: 0.5;
    color: rgb(68, 68, 68);
    font-size: 16px;
    cursor: pointer;
}

.linha {
    width: 370px;
    height: 1px;
    background-color: rgb(68, 68, 68);
    opacity: 0.2;
}

.about-me {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(68, 68, 68);
    font-weight: 600;
}

.bio,
.bio-opp {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.5;
    padding-bottom: 20px;
    color: rgb(68, 68, 68);
}

.change-cover {
    position: absolute;
    top: 10px;
    color: white;
    border: solid 1px white;
    cursor: pointer;
    padding: 7px;
    font-size: 13px;
    left: 25px;
    top: 15px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

#file-label {
    width: 300px;
    margin-top: 35px;
    padding: 10px 0px 10px 0px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #36465d;
    cursor: pointer;
}

.button-friend {
    padding: 0.6em 1em !important;
    color: rgb(68, 68, 68);
    background-color: rgb(233, 235, 238) !important;
    cursor: pointer;
    font-size: 12px !important;
    width: 120px !important;
    font-weight: 600 !important;
    margin-right: 10px;
}
.friend-button {
    padding: 0.6em 1em !important;
    color: rgb(68, 68, 68);
    background-color: rgb(233, 235, 238) !important;
    cursor: pointer;
    position: absolute;
    font-size: 12px !important;
    font-weight: 600 !important;
    border: 1px solid rgba(68, 68, 68, 0.3);
    bottom: 15px;
    right: 15px;
    width: 120px !important;
}

.friends-icon {
    margin-right: 5px;
}

.big-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    overflow: hidden;
}

.extra-extra-wrapper {
    border: 1px solid rgba(68, 68, 68, 0.3);
}

.extra-extra-wrapper:not(:last-child) {
    margin-bottom: 40px;
}

.friends-title {
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.5);

    background-color: #36465d;
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}

.big-wrapper-friends {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 30px;
    background-color: white;
}
.friends-wrapper {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(68, 68, 68, 0.3);
}

.icon-friend {
    margin-right: 5px;
}

.img-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100%;
    height: 20px;
    background-color: rgb(234, 160, 73);
    flex-shrink: 0;
}

.wrapper-menu-arrow {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 9px 11px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
}

.wrapper-three-menu {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 9px 11px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 1);
}

.wrapper-menu-arrow:before {
    content: "";
    position: absolute;
    top: -6px;
    right: 1px;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.menu-arrow {
    font-size: 12px;
    cursor: pointer;
    color: rgb(68, 68, 68);
    padding: 3px 7px;
    width: 65px;
    text-decoration: none;
}

.menu-three {
    font-size: 12px;
    cursor: pointer;
    color: rgb(68, 68, 68);
    padding: 3px 7px;
    width: 65px;
}

.menu-three:hover {
    background-color: #36465d;
    color: white;
}

.menu-arrow:hover {
    background-color: #36465d;
    color: white;
}

.big-wrapper-menu {
    position: absolute;
    z-index: 1000;
    padding-top: 24px;
    right: 8px;
    top: 21px;
    display: none;
}

.big-wrapper-three {
    position: absolute;
    z-index: 1000;
    display: none;
}

.wrapper-arrow:hover .big-wrapper-menu {
    display: block;
}

.wrapper-three:hover .big-wrapper-three {
    display: block;
}

.text-bio {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.5;
    color: rgb(68, 68, 68);
}

.wrapper-relative {
    position: relative;
}

.extra-wrapper {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.no-friend-requests {
    padding-bottom: 15px;
    font-weight: 400;
}

.a-name {
    text-decoration: none;
}

.a-name:hover {
    text-decoration: underline;
}
