html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body,
main {
    margin: 0;
    height: 100%;
}

.form-wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    transform: translateY(70px);
    -webkit-box-shadow: 0 10px 10px #777;
    -moz-box-shadow: 0 10px 10px #777;
    box-shadow: 0 10px 10px #777;
}

.form {
    display: flex;
    flex-direction: column;
}

.big-container-top {
    background-image: url("/foto.jpg");
    background-attachment: fixed;
    background-size: contain;

    height: 700px;
}

.infos-top {
    padding-top: 30px;
    text-align: center;
}

.logo {
    width: 55px;
    margin-left: 20px;
    margin-top: 10px;
}

.title {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 75px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px #444444;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}

.subtitle {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #ffdcba;
    text-shadow: 1px 1px 1px #444444;
}

input {
    border-color: #cdd5d6;
    border-image: none;
    line-height: 40px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #353737;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 300;
    height: 38px;
    width: 400px;
    margin-top: 5px;
}

button {
    background-color: #ffdcba;
    color: #fff;

    height: 46px;
    margin-top: 15px;
    text-transform: none;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 10px;
    line-height: 1.42857;
    padding-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(1, 1, 1, 0.5);
}

.login-form {
    color: #353737;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 10px 0;
    line-height: 1.42857;
    font-weight: 300;
}

.line {
    width: 480px;
    background-color: white;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #444444;
}

.infos-bottom {
    margin-top: 140px;
    font-size: 23px;
    width: 300px;
    text-align: center;
    color: #444746;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.line2 {
    background-color: #444746;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 70px;
    width: 150px;
}

.infos-bottom2 {
    margin-top: 30px;
    font-size: 23px;
    width: 350px;
    text-align: center;
    color: #444746;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.line3 {
    background-color: #444746;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 220px;
}

span {
    font-weight: bold;
}

.bbq-page {
    min-height: 100%;
    background-color: rgb(86, 0, 0);
}

.blue-page {
    min-height: 100%;
    background-color: #647ffb;
}

.green-page {
    min-height: 100%;
    background-color: rgb(86, 188, 138);
}

.main-page {
    min-height: 100%;
}

.green-page-reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.reason-to-join img {
    width: 180px;
    margin-top: -13px;
}

.reason-to-join div {
    width: 200px;
}

.reason-to-join {
    color: white;
    text-align: center;
    margin: 20px;
}

.pager {
    height: 100%;
}

.pager > .page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page-switch {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    height: 100%;
    justify-content: center;
}

.page-switch-dot-active,
.page-switch-dot-inactive {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 3px solid white;
    margin: 5px 5px 5px 15px;
    cursor: pointer;
}

.page-switch-dot-active {
    background-color: white;
}

.page.moveDownIn {
    transform: translateY(-100%);
}

.page.moveDownOut {
    transform: translateY(0%);
}

.page.moveDownIn.transitioning {
    transform: translateY(0%);
    transition: 1s;
}

.page.moveDownOut.transitioning {
    transform: translateY(100%);
    transition: 1s;
}

.page.outside {
    transform: translateY(100%);
}

.page.inside {
    transform: translateY(0);
}

.page.moveUpIn {
    transform: translateY(100%);
}

.page.moveUpOut {
    transform: translateY(0%);
}

.page.moveUpIn.transitioning {
    transform: translateY(0%);
    transition: 1s;
}

.page.moveUpOut.transitioning {
    transform: translateY(-100%);
    transition: 1s;
}

.big-logo {
    width: 230px;
}

.video-main-page {
    position: ;
}

.green-title {
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
    line-height: 1.2;
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.green-call-to-action {
    font-size: 16px;
    font-weight: 300;
    width: 700px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.guirlanda-food {
    position: absolute;
}
